.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto;
}
.img{
    width: 200px;
    height: 200px;
}

.list{
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 1200px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
}

.amountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border-radius: 10px;
    border: 1px solid black;
}

.btn:hover{
    border-color: red;
}

.button{
    border: 1px solid black;
    border-radius: 20px;
}

.button:hover{
    border-color: red;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    border-color: black;
}