.button{
    border: 1px solid black;
    border-radius: 20px;
}

.button:hover{
    border-color: red;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    border-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin: 40px;
}

.navlink{
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.navlink:hover{
    border-color: red;
}

.link{
    color: #213547;
}

.link:hover{
    color: red;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.summaryContainer{
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 400px;
}

.priceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}